<!DOCTYPE html>
<html lang="en">
<body>
  <app-top-nav></app-top-nav>
  <div class="bg-img">

  </div>

  <div class="bg-text" style="width: 500px;">
           <mat-card>

            <mat-card-content>

              <span>Select Image to upload and get tags</span><br><br>

              <input #imageInput
                     type="file"
                     accept="image/*" style="margin-left: 80px;"
                     (change)="processFile1(imageInput)">
            </mat-card-content>

          </mat-card>
  </div>





