<!DOCTYPE html>
<html lang="en">
<body>
  <app-top-nav></app-top-nav>
  <div class="bg-img">
  </div>
  <div class="bg-text" style="width: 500px;" [hidden]="divHidden">
           <mat-card>
            <mat-card-content>
              <span>Select Image to upload and get tags</span><br><br>
              <input #imageInput
                     type="file"
                     accept="image/*" style="margin-left: 80px;"
                     (change)="processFile1(imageInput)"> <br><br>
                     <button mat-raised-button [disabled]="buttonDisabled" color="primary" (click)="viewImage()">View Image</button>
            </mat-card-content>
          </mat-card>
  </div>
  <div [hidden]="imagedivHidden" class="bg-text" style="width: 700px; height: 300px ;">
    <mat-card style="width: 700px; height: 300px ;">
      <mat-card-content>
        <div class="image-container">
        <div *ngFor="let imageUrl of imageUrls">
          <img [src]="imageUrl" alt="Image" style="margin-right: 10px;">
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="closeImage()" >Close View</button>

    </mat-card-content>
    </mat-card>
    </div>





