<body>
  <app-top-nav></app-top-nav>
  <div class="bg-img">
  </div>
<div class="bg-text" style="width: 500px;">
  <mat-card>
    <mat-card-content>
        <input class="custom-input-url" matInput  name = "result"   placeholder = "Enter Url" [(ngModel)]="result"><br>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedValue">
        <mat-radio-button value="1">Add Tags</mat-radio-button>
        <mat-radio-button value="2">Delete Tags</mat-radio-button>
      </mat-radio-group>
  <div [formGroup]="tagForm">
    <table class="table">
      <thead >
        <tr>
          <th scope="col">Tag</th>&nbsp;
          <th scope="col">Count</th>
        </tr>
     </thead>
     <tbody>
       <ng-container formArrayName="tagData" *ngFor="let group of getFormControls.controls ; let i=index">
          <tr [formGroupName]="i">
             <td><input class="custom-input" matInput formControlName="tag" placeholder="Person"></td>&nbsp;&nbsp;&nbsp;
             <td><input class="custom-input" matInput formControlName="count" placeholder="1"></td>&nbsp;&nbsp;
             <td>
               <button mat-raised-button color="primary" (click)="addTag()" *ngIf="getFormControls.controls.length == i+1">Add</button>
               <button mat-raised-button color="primary" (click)="deleteTag(i)"*ngIf="getFormControls.controls.length !== i+1">Remove</button>
             </td>
         </tr>
      </ng-container>
   </tbody>
  </table>
</div>
<br>
<button mat-raised-button color="primary" (click)="changeTags()" >Update Tags</button>
</mat-card-content>
</mat-card>
</div>
</body>
