<body>
  <app-top-nav></app-top-nav>
  <div class="bg-img">
  </div>
<div class="bg-text" style="width: 500px;">
  <mat-card>
    <mat-card-content>
  <div [formGroup]="tagForm">
    <input type="text"  class="form-control"  style="margin-left: 10px;margin-right: 20px;" aria-label="With textarea" name = "url" placeholder = "Enter url" ngModel/>

      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Add Tags</mat-radio-button>
        <mat-radio-button value="2">Delete Tags</mat-radio-button>
      </mat-radio-group>

    <table class="table">

      <thead >
        <tr>
          <th scope="col">Tag</th>
          <th scope="col">Count</th>
        </tr>
     </thead>
     <tbody>
       <ng-container formArrayName="tagData" *ngFor="let group of getFormControls.controls ; let i=index">
          <tr [formGroupName]="i">
             <td><input matInput formControlName="tag" placeholder="Person"></td>
             <td><input matInput formControlName="count" placeholder="1"></td>
             <td>
               <button mat-raised-button color="primary" (click)="addTag()" *ngIf="getFormControls.controls.length == i+1">Add</button>
               <button mat-raised-button color="primary" (click)="deleteTag(i)"*ngIf="getFormControls.controls.length !== i+1">Remove</button>
             </td>
         </tr>
      </ng-container>
   </tbody>
  </table>
</div>
<button mat-raised-button color="primary" (click)="searchImage()" >Search Image</button>
</mat-card-content>
</mat-card>
</div>
</body>
