<!DOCTYPE html>
<html lang="en">
<app-top-nav></app-top-nav>


<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

  <div class="bg-img">

  </div>

  <div class="bg-text" style="width: 500px;">
           <mat-card>
           <div style="height: 40px;">
            <h3>Enter url of image </h3>
            </div>
            <form #userlogin = "ngForm">
                
                <mat-form-field class="example-full-width">
                    <mat-label>url</mat-label>
                    <input matInput  value="">
                  </mat-form-field>
                  <br>
                  <a mat-raised-button color="primary" > Delete Image</a>
                  <br>
                  &nbsp;
   
                
                
             </form>
         
          </mat-card>        
  </div>

  

  
 
  


