<!DOCTYPE html>
<html lang="en">
<app-top-nav></app-top-nav>


<!DOCTYPE html>
<html lang="en">
<body>

  <div class="bg-img">

  </div>

  <div class="bg-text" style="width: 500px;">
           <mat-card>
            <form #userlogin = "ngForm" >
              <br/>
              <div class="input-group">
                  <input class="custom-input-url" matInput  name = "url"   placeholder = "Enter Url" [(ngModel)]="url"><br>
                    </div>
                <br/>
               <button mat-raised-button color="primary" (click)="deleteImage()">Delete Image</button>
          <br/>&nbsp;
              </form>
          </mat-card>
  </div>











