<mat-toolbar color="primary">

  <h1 style="margin-top: 20px; margin-left: 10px;">GreenCalc</h1>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  Home
  </button>

  &nbsp;&nbsp;|&nbsp;&nbsp;

  <button mat-button routerLink="/searchByTag" routerLinkActive="active">
    <mat-icon>calculate</mat-icon>
    Calculate Carbon Footprint
  </button>

  &nbsp;&nbsp;|&nbsp;&nbsp;

  <button mat-button routerLink="/getTag" routerLinkActive="active">
    <mat-icon>lightbulb</mat-icon>
    Solutions
  </button>





  <button mat-button routerLink="/about" routerLinkActive="active">
    <mat-icon>info</mat-icon>
    About
  </button>

</mat-toolbar>
