<mat-toolbar color="primary">

  <h3 style="margin-top: 20px; margin-left: 10px; color: #096342; font-weight: bold;">GreenCalc - Find out your carbon footprint</h3>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  Home
  </button>

  &nbsp;&nbsp;|&nbsp;&nbsp;

  <button mat-button routerLink="/calc" routerLinkActive="active">
    <mat-icon>calculate</mat-icon>
    Calculate Carbon Footprint
  </button>

  &nbsp;&nbsp;|&nbsp;&nbsp;

  <button mat-button routerLink="/recommend" routerLinkActive="active">
    <mat-icon>lightbulb</mat-icon>
    Recommendations
  </button>



  <button mat-button routerLink="/about" routerLinkActive="active">
    <mat-icon>info</mat-icon>
    About
  </button>

</mat-toolbar>
