<mat-toolbar color="primary">

  <h2 style="margin-top: 20px; margin-left: 10px; color: #096342; ">"GreenCalc - Find out your carbon footprint"</h2>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  Home
  </button>

  &nbsp;&nbsp;|&nbsp;&nbsp;

  <button mat-button routerLink="/calc" routerLinkActive="active">
    <mat-icon>calculate</mat-icon>
    Calculate Carbon Footprint
  </button>

  &nbsp;&nbsp;|&nbsp;&nbsp;

  <button mat-button routerLink="/recommend" routerLinkActive="active">
    <mat-icon>lightbulb</mat-icon>
    Recommendations
  </button>

</mat-toolbar>
