<div class="row">
  <div class="column">
      <div style="width: 100px;">&nbsp;</div>
  </div>
  <div class="column">

      <div style="height: 150px;"></div>
      <div style="height: 50px;" ><h1 class="centered-heading blue-heading">CloudSnap</h1></div>
      <div><h2 class="centered-heading">
          A Serverless Image Storage System with Tagging</h2></div>
          <div style="height: 150px;"><h3 class="centered-heading">
          "The focus of this project is to design a serverless application that enables<br>
          clients to upload their images to public cloud storage."</h3></div>

  </div>
  <div class="column">
      <div style="height: 100px;"></div>
      <div class="container">
      <img style="margin: 50px;height: 250px;"  src="/assets/images/object_detection.jpg"/>
    </div>
    <mat-card-actions style="margin: 210px;">
      <a mat-raised-button color="primary" class="m1-1" href="https://cloud-snap-dev.auth.us-east-1.amazoncognito.com/login?client_id=5det7dhs00isok3g4smn8b56ir&response_type=code&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A4200/home"> Sign In/Sign Up</a>
    </mat-card-actions>
  </div>
</div>
<div style="height:70px;"></div>
