<body>
  <app-top-nav></app-top-nav>
  <div class="bg-img">
  </div>
<div class="bg-text" style="width: 500px;" [hidden]="divHidden">
  <mat-card>
    <mat-card-content>
  <div [formGroup]="tagForm">
    <table class="table">
      <thead >
        <tr>
          <th scope="col">Tag</th>
          <th scope="col">Count</th>
        </tr>
     </thead>
     <tbody>
       <ng-container formArrayName="tagData" *ngFor="let group of getFormControls.controls ; let i=index">
          <tr [formGroupName]="i">
             <td><input class="custom-input" matInput formControlName="tag" placeholder="Person"></td>
             <td><input class="custom-input" matInput formControlName="count" placeholder="1"></td>
             <td>
               <button mat-raised-button color="primary" (click)="addTag()" *ngIf="getFormControls.controls.length == i+1">Add</button>
               <button mat-raised-button color="primary" (click)="deleteTag(i)"*ngIf="getFormControls.controls.length !== i+1">Remove</button>
             </td>
         </tr>
      </ng-container>
   </tbody>
  </table>
</div>
<br>
<button mat-raised-button color="primary" (click)="searchImage()" >Search Image</button> &nbsp;
<button mat-raised-button color="primary" (click)="viewImage()" [disabled]="isButtonDisabled">View Image</button>
</mat-card-content>
</mat-card>

</div>
<div [hidden]="imagedivHidden" class="bg-text" style="width: 700px; height: 300px ;">
  <mat-card style="width: 700px; height: 300px ;">
    <mat-card-content>
      <div class="image-container">
      <div *ngFor="let imageUrl of imageUrls">
        <img [src]="imageUrl" alt="Image" style="margin-right: 10px;">
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="closeImage()" [disabled]="isButtonDisabled">Close View</button>

  </mat-card-content>
  </mat-card>
  </div>
</body>
